.box {
    padding: 50px;
    padding-bottom: 70px;
    position: relative;
    overflow: hidden;
    text-align: center;
    background-color: rgb(251, 234, 234);
}



a {
    line-height: 20px;
    font-size: 14px;
}

a:hover {
    color: rgb(244, 92, 92);
    text-decoration: underline;
    font-size: 110%;
}

h1 {
    color: rgb(73, 1, 1);
    padding: 15px 0px;
    font-size: 2.8em;
}

p {
    color: rgb(95, 95, 95);
    text-align: justify;
    font-size: 1.3em;
    font-family: sans-serif;
}

.selected-menu-item {
    color: red;
}

h2 {
    text-align: center;
    padding: 20px 0px;
    font-size: 2em;
    color: rgb(73, 1, 1);
}

.dedicated-team {
    padding: 20px;
    position: relative;
    text-align: center;
    background-color: rgb(241, 203, 154);
    margin: 0px;
}

.row {
    padding: 50px;
    display: flex;
}

.mem-col {
    width: 33.33%;
    text-align: center;
}

img {
    border-radius: 50%;
    width: 30%;
    background-color: rgb(244, 92, 92);
    margin-top: -50px;
}

.person {
    margin: 0 50px;
    border: 5px solid coral;
}

.mem-info-name,
.mem-info-designation,
.mem-info-place {
    display: block;
}

.mem-info-name {
    font-weight: bold;
}

.mem-info-designation {
    font-style: oblique;
}

.mem-info-place {
    font-style: italic;
}

.mem-info {
    padding: 20px;
}